body {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", PT Sans, sans-serif;
  font-weight: 200;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body-noscroll {
  overflow: hidden;
}
.template-images-list {
  display: none;
}
.img-nophoto {
  background-color: red;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  min-height: 55px;
  padding: 15px 0;
  background-color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.page-header__title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.page-header__add-image {
  position: relative;
  display: block;
  height: 25px;
  padding: 3px 8px 0 25px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #333333;
  background-color: yellow;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header__add-image::before,
.page-header__add-image::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 8px;
  width: 12px;
  height: 2px;
  background-color: #333333;
}
.page-header__add-image::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.page-header__add-image:hover {
  color: #555555;
  -webkit-box-shadow: 0 0px 7px 2px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0px 7px 2px rgba(255, 255, 255, 0.2);
}
.page-header__add-image:hover::before,
.page-header__add-image:hover::after {
  background-color: #555555;
}
.images {
  width: 100%;
  min-height: 100vh;
  padding-top: 65px;
  padding-bottom: 10px;
  background-color: #888888;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.images__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
}
.images__item {
  width: 290px;
  min-height: 290px;
  margin: 10px 10px;
  background-color: #555555;
}
.images__item:hover {
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
}
.images__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
.images__comment {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  display: none;
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  background-color: #555555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.3);
}
.images__item:hover .images__comment {
  display: block;
}
.page-footer {
  min-height: 55px;
  padding: 15px 0;
  background-color: #111111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 10px;
}
.page-footer__copyright,
.page-footer__develop {
  margin: 0;
}
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  overflow-x: hidden;
}
.popup-image--hidden {
  display: none;
}
.popup-image__description {
  position: absolute;
  z-index: 1500;
  min-width: 280px;
  width: 80vw;
  height: auto;
  margin: 35px 10vw 20px 10vw;
  background-color: #111111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px 2px rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 4px 2px rgba(255, 255, 255, 0.1);
}
.popup-image__wrapper-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popup-image__img {
  width: auto;
  height: auto;
  max-height: 90vh;
}
.popup-image__wrapper-comment {
  width: 100%;
  padding: 10px 5px;
  background-color: #555555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popup-image__edit-comment {
  padding: 5px;
}
.popup-image__wrapper-comment:hover .popup-image__edit-comment {
  background-color: #666666;
}
.popup-image__comment {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}
.popup-image__button-edit {
  position: relative;
  bottom: 0;
  left: 50%;
  display: block;
  width: 116px;
  height: 36px;
  margin: 0;
  margin-left: -58px;
  padding: 0 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: rgba(158, 158, 158, 0.4);
  cursor: pointer;
}
.popup-image__button-edit:hover {
  background-color: rgba(158, 158, 158, 0.6);
}
.popup-image__commentfield {
  width: 100%;
  min-height: 70px;
  margin-bottom: 35px;
  padding: 5px;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}
.popup-image__commentfield--no-save {
  -webkit-box-shadow: 0 0 7px 3px rgba(255, 51, 51, 0.7);
          box-shadow: 0 0 7px 3px rgba(255, 51, 51, 0.7);
}
.popup-image__wrapper-commentfield {
  position: relative;
}
.popup-image__commentfield-nosave {
  position: absolute;
  top: -webkit-calc(100% + 8px);
  top: calc(100% + 8px);
  left: 0;
  z-index: 50;
  display: none;
  padding: 4px 4px;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f14545;
}
.popup-image__commentfield-nosave::before {
  content: '';
  position: absolute;
  left: 15px;
  top: -7px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #f14545;
}
.popup-image__wrapper-comment .popup-image__button-edit {
  opacity: 0;
}
.popup-image__wrapper-comment:hover .popup-image__button-edit {
  opacity: 1;
}
.popup-image__edit-comment.editing .popup-image__comment {
  display: none;
}
.popup-image__edit-comment .popup-image__commentfield {
  display: none;
}
.popup-image__edit-comment.editing .popup-image__commentfield {
  display: block;
}
.popup-add-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-add-image--hidden {
  display: none;
}
.popup-add-image__description {
  width: 280px;
  margin: auto;
  padding: 30px 20px 20px 20px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popup-add-image__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
}
.popup-add-image__wrapper {
  position: relative;
}
.popup-add-image__label {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #222222;
}
.popup-add-image__input {
  width: 100%;
  margin-top: 5px;
  padding: 4px 5px;
  border: 1px solid #222222;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popup-add-image__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 7px 3px rgba(255, 255, 0, 0.7);
          box-shadow: 0 0 7px 3px rgba(255, 255, 0, 0.7);
}
.popup-add-image__input-error {
  -webkit-box-shadow: 0 0 7px 3px rgba(255, 51, 51, 0.7);
          box-shadow: 0 0 7px 3px rgba(255, 51, 51, 0.7);
}
.popup-add-image__btn {
  width: 150px;
  padding: 10px 0;
  margin-left: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #333333;
  cursor: pointer;
}
.popup-add-image__btn:hover {
  background-color: #555555;
}
.popup-add-image__btn:disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: #777777;
  cursor: default;
}
.popup-add-image__error {
  position: absolute;
  left: 0;
  top: -webkit-calc(100% + 8px);
  top: calc(100% + 8px);
  z-index: 100;
  display: none;
  max-width: 200px;
  padding: 7px 9px 6px;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f14545;
}
.popup-add-image__error::before {
  content: '';
  position: absolute;
  left: 15px;
  top: -7px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #f14545;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    width: 320px;
    margin: 0 auto;
    width: auto;
    padding: 0;
  }
  .page-header__title {
    font-size: 18px;
    line-height: 24px;
  }
  .page-header__add-image {
    padding: 3px 8px 0 30px;
    font-size: 14px;
  }
  .page-footer__wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .popup-image__description {
    width: 76vw;
    margin: 35px 12vw 20px 12vw;
  }
  .popup-image__wrapper-img {
    padding: 12px;
  }
  .popup-add-image__description {
    width: 500px;
  }
  .popup-add-image__title {
    font-size: 20px;
    line-height: 26px;
  }
  .popup-add-image__btn {
    margin-left: 155px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .page-header__wrapper {
    width: 640px;
  }
  .page-footer__wrapper {
    width: 640px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .page-header__wrapper {
    width: 960px;
  }
  .page-footer__wrapper {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .popup-image__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 86vw;
    height: 86vh;
    margin: 7vh 0 0 7vw;
  }
  .popup-image__wrapper-img {
    width: 80%;
    height: 100%;
    padding: 15px;
  }
  .popup-image__img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .popup-image__wrapper-comment {
    width: 20%;
  }
}
